body{
    background-color: rgb(70,142,236);
    font: normal 15pt Arial;
    color: white;
}
header > h1{
    text-align: center;
}
section{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
img{
    border-radius: 50%;
}