@charset "UTF-8";
div#area{
    background-color: rgb(37, 117, 37);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font: normal 20pt Arial;
    text-align: center;
}